<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

  <%= @post.name %>
  <%= @post.content %>
  <h1> <%= @post.name %>was deleted</h1>

  </body>
</html>
